@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  /* Tambahkan ini agar browser HP tidak refresh sendiri saat ditarik */
  overscroll-behavior-y: none; 
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}